.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  margin: 0 10px 5px 10px;
}

.input-container:hover {
  cursor: pointer;
}

#calendar-input {
  border: 0;
  padding-left: 0px;
  width: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#calendar-input:hover {
  cursor: pointer;
}

#calendar-input:disabled {
  color: black;
}

#calendar-icon-small {
  padding: 3px 0 0 4px;
  max-width: 50%;
  max-height: 50%;
}

#dropdown-triangle {
  padding-left: 12px;
  max-width: 35%;
  max-height: 37%;
}